*.pt
public/**
public/**.jpg
public/**.jpeg
public/**.png
public/**.gif
public/**.svg
public/**.pdf
public/**.doc
runs/*
cache_dir/*
.idea/*

postgres-data/*
.env
*.sqlite3
*.sqlite
*.sqlite3-journal
*.sqlite-journal
*.log
logs/
*.pyc
__pycache__/

.idea